{% extends 'base.html' %}


{% block content %}


<div class="container pt-2 mb-5">
    <h1 class="text-center">Patient Registration Form</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card px-4 py-4">
            <form method="post", action=".">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    
                    <div class="form-outline">
                      <input type="text" name="firstname" id="form3Example1" class="form-control" required />
                      <label class="form-label" for="form3Example1">Firstname</label>
                      
                    </div>
                  </div>
                  <div class="col">
                    
                    <div class="form-outline">
                      <input type="text" name="lastname" id="form3Example2" class="form-control" required />
                      <label class="form-label" for="form3Example2">Lastname</label>
                      
                    </div>
                  </div>
                </div>



                <div class="row mb-4">
                    <div class="col">
                      
                      <div class="form-outline">
                        <input type="text" name="DOB" id="form3Example3" class="form-control" />
                        <label class="form-label" for="form3Example3">Date Of Birth</label>
                        
                      </div>
                    </div>
                    <div class="col">
                      
                      <div class="form-outline">
                        <input type="text" name="address" id="form3Example4" class="form-control" required />
                        <label class="form-label" for="form3Example4">Address</label>
                        
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col">
                      
                      <div class="form-outline">
                        <input type="number" value="0" name="weight" id="form3Example5" class="form-control" />
                        <label class="form-label" for="form3Example5">Weight</label>
                        
                      </div>
                    </div>
                    <div class="col">
                      
                      <div class="form-outline">
                        <input type="text" name="BPressure" value="0" id="form3Example6" class="form-control" />
                        <label class="form-label" for="form3Example6">Blood Pressure</label>
                        
                      </div>
                    </div>
                  </div>


                
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="text" name="phone_number" id="form3Example7" class="form-control" required />
                  <label class="form-label" for="form3Example7">Phone Number</label>
                </div>
              
                

                

              <div class="row mb-4">
                <div class="col">
                  
                  <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ form.gender.name }}" id="maleRadio" value="M"
                            {% if form.gender.value == 'M' %} checked {% endif %}>
                        <label class="form-check-label" for="maleRadio">Male</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ form.gender.name }}" id="femaleRadio" value="F"
                            {% if form.gender.value == 'F' %} checked {% endif %}>
                        <label class="form-check-label" for="femaleRadio">Female</label>
                    </div>
                
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label">Payment Type</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ form.payment_type.name }}" id="cashRadio" value="cash"
                            {% if form.payment_type.value == 'cash' %} checked {% endif %}>
                        <label class="form-check-label" for="cashRadio">Cash</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ form.payment_type.name }}" id="insuranceRadio" value="insurance"
                            {% if form.payment_type.value == 'insurance' %} checked {% endif %}>
                        <label class="form-check-label" for="insuranceRadio">Insurance</label>
                    </div>
                
                  </div>
                </div>
              </div>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="text" name="insurance_provider" id="form3Example8" class="form-control" />
                <label class="form-label" for="form3Example8">Insurance Provider</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="date" name="DOR" id="form3Example9" class="form-control" />
                <label class="form-label" for="form3Example9">DOR</label>
              </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                <!-- Register buttons -->
                
              </form>
          </div>
        </div>
    </div>
</div>


{% endblock content %}