<!DOCTYPE html>
<html>
<head>

    <title>Filtered Medical History</title>
   
<style>
  body {
    font-family: Arial, sans-serif;
  }
  table, th, td {
        border: 1px solid black;
        padding: 5px;
    }

</style>    
</head>
<body>
    <h1 class="text-center">Medical History</h1>

    
 
        
        <table class="styled-table" style="text-align: center;">
        <thead>
            <tr>
                <th>#</th>
                <th>Patient</th>
                <th>Treatment</th>
                <th>Investgation</th>
                <th>Medication</th>
                <th>Amount</th>
                <th>Payment Type</th>
                <th>Date</th>
            </tr>
        
        </thead>
        <tbody>
            {% for record in filtered_records %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{ record.patient }}</td>
                    <td>
                        <ul>
                            {% for category in record.treatment.all %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for category in record.investgation.all %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for category in record.medication.all %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ record.calculate_total_price }}</td>
                    <td>{{ record.payment_type }}</td>
                    <td>{{ record.created_at|date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

 
    
</body>
</html>
