{% extends 'base.html' %}


{% block content %}


<div class="container pt-4 mb-5 text-center">
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-2">
            <div class="card h-100 py-2">
                
                    <div class="col">
                        <div class="text-xs">
                            <small>
                            Total Patients
                            </small>
                        </div>
                        <div class="">{{total_patients}}</div>
                    </div>
                </div>
            
        </div>

        <div class="col-xl-4 col-md-6 mb-2">
            <div class="card h-100 py-2">
                
                    <div class="col">
                        <div class="text-xs">
                            <small>
                            Registered Today
                            </small>
                        </div>
                        <div class="">{{registered_today}}</div>
                    </div>
               
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <div class="card h-100 py-2">
                
                    <div class="col">
                        <div class="text-xs">
                            <small>
                            Attended Today
                            </small>
                        </div>
                        <div class="">{{attended_today}}</div>
                    </div>
               
            </div>
        </div>


    </div>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-lg-6">
      <div class="contents">
        <div class="search-bar">
          <div class="search-inner">
            <form method="GET" class="search-form" action=".">
              <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" name="firstname_contains" />
                  <label class="form-label" for="form1"><small>Search Patient Firstname</small></label>
                </div>
                <button type="submit" class="btn btn-info">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <!-- <div class="form-group inputwithicon">
                <i class="lni-tag"></i>
                <input type="text" name="customword" class="form-control" placeholder="Enter Product Keyword">
              </div> -->
            
          </div>
        </div>
      </div>
    </div>

   

    <div class="col-lg-6">
      <div class="contents">
        <div class="search-bar">
          <div class="search-inner">
            
            <div class="input-group">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" name="lastname_contains" />
                <label class="form-label" for="form1"><small>Search Patient Lastname</small></label>
              </div>
              <button type="submit" class="btn btn-info">
                <i class="fas fa-search"></i>
              </button>
            </div>
<br>
              <button class="btn btn-info" type="submit"><i class="lni-search"></i> Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container pt-5 mb-5">
    <h2 class="text-center">Registered Patients</h2>
    <div class="table-responsive">
        <table class="table align-middle mb-0 text-center text-nowrap table-sm table-bordered">
            <thead class="bg-light">
                <tr>
                    <th scope="col">#</th>
                    
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Weight</th>
                    <th scope="col">B/Pressure</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Add Treatment</th>
                    <th scope="col">View Patient</th>
                </tr>
            </thead>
            <tbody>
                {% if patients %}
                    {% for patient in patients %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        
                        <td>{{ patient.firstname }}</td>
                        <td>{{ patient.lastname }}</td>
                        <td>{{ patient.address }}</td>
                        <td>{{ patient.gender}}</td>
                        <td>{{patient.DOB}}</td>
                        <td>{{patient.weight}} kg</td>
                        <td>{{patient.BPressure}}mmHg</td>
                        <td>{{patient.phone_number}}</td>
                        <td>{{patient.created_at|date:"F d, Y"}}</td>
                        <td><a button class="btn btn-info btn-sm" href="{% url 'patient-medicals' patient.id %}">Add Treatment</button></a></td>
                        <td><a button class="btn btn-info btn-sm" href="{% url 'patient-detail' patient.id %}">View</button></a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No Registered Patients.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>


{% endblock content %}